*{
  box-sizing: border-box;
  margin:0;
  padding: 0;
  
}  
  body{
     display: flex;
     justify-content: center;
     align-items: center;
     max-width: 100%;
     min-height: 100vh;
     font-size: 165px;
     background-color: #faffff;
   }
   .bandeau{
    width: 100%;

   }
   .actu_titre {
    display: flex;
    justify-self: center;
    align-items: center;
    overflow: hidden;  
    
    height: 50vh;                 
   }
   p{
     color: #004996;
     font-size: 1em;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     

   }

   .actu_titre > :first-child {
    display: inline-block;                /* modèle de boîte en ligne */
    padding-right: 2em;                   /* un peu d'espace pour la transition */
    padding-left: 100%;                   /* placement à droite du conteneur */
    white-space: nowrap;                  /* pas de passage à la ligne */
    animation: actu_titre 30s infinite linear;
  } 
  @keyframes actu_titre {
    0% {
      transform: translate3d(0,0,0);      /* position initiale à droite */
    }
    100% {
      transform: translate3d(-100%,0,0);  /* position finale à gauche */
    }
  }
